@charset "UTF-8";

/* -------------------------------- 

Primary style

-------------------------------- */
*,
*::after,
*::before {
  box-sizing: border-box;
}

html {
  height: 100%;
}



@media only screen and (max-width: 980px) {
  html {
    font-size: 80%;
  }
}

body {
  height: 100%;
  margin: 0;
  padding: 0;
  color: #555555;
}

body {
  font-family: "Noto Sans JP", sans-serif;
}

/* -------------------------------- 

フォントサイズをVWで調整

-------------------------------- */
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

a {
  text-decoration: none;
  transition: all .3s;
}

a:hover {
  opacity: .8;
}

a:hover img {
  opacity: .9;
}

.img-responsive {
  /* make images responsive */
  max-width: 100%;
  height: auto;
  display: block;
}

ul {
  list-style-type: none;
  padding: 0;
}

p {
  line-height: 30px;
}

/* -------------------------------- 

FLEX BOX

-------------------------------- */
.DF {
  display: -webkit-box !important;
  display: -webkit-flex !important;
  display: -ms-flexbox !important;
  display: flex !important;
}

.JCC {
  -webkit-box-pack: center !important;
  -webkit-justify-content: center !important;
  -ms-flex-pack: center !important;
  justify-content: center !important;
}

.JCS {
  -webkit-box-pack: start !important;
  -webkit-justify-content: flex-start !important;
  -ms-flex-pack: start !important;
  justify-content: flex-start !important;
}

.JCE {
  -webkit-box-pack: end !important;
  -webkit-justify-content: flex-end !important;
  -ms-flex-pack: end !important;
  justify-content: flex-end !important;
}

.JCB {
  -webkit-box-pack: space-between !important;
  -webkit-justify-content: space-between !important;
  -ms-flex-pack: space-between !important;
  justify-content: space-between !important;
}

.JCA {
  -webkit-box-pack: space-around !important;
  -webkit-justify-content: space-around !important;
  -ms-flex-pack: space-around !important;
  justify-content: space-around !important;
}

.AIC {
  -webkit-box-align: center !important;
  -webkit-align-items: center !important;
  -ms-flex-align: center !important;
  align-items: center !important;
}

.AIS {
  -webkit-box-align: start !important;
  -webkit-align-items: flex-start !important;
  -ms-flex-align: start !important;
  align-items: flex-start !important;
}

.AIE {
  -webkit-box-align: end !important;
  -webkit-align-items: flex-end !important;
  -ms-flex-align: end !important;
  align-items: flex-end !important;
}

.FC {
  -webkit-box-orient: vertical !important;
  -webkit-box-direction: normal !important;
  -webkit-flex-direction: column !important;
  -ms-flex-direction: column !important;
  flex-direction: column !important;
}

.FW {
  -webkit-box-wrap: wrap !important;
  -webkit-flex-wrap: wrap !important;
  -ms-flex-wrap: wrap !important;
  flex-wrap: wrap;
}

/* -------------------------------- 

SlickJS

-------------------------------- */
.slick-slider {
  margin: 0 !important;
  height: auto;
}

.slick-slide {
  height: auto !important;
}

/* -------------------------------- 

BODY

-------------------------------- */
body {
  opacity: 0;
  transition: all .5s;
}

body.show {
  opacity: 1;
}

/* -------------------------------- 

WRAPPER

-------------------------------- */
.WRAPPER {
  overflow: hidden;
}

/* -------------------------------- 

HUMBERGER

-------------------------------- */
header .humburger {
  position: fixed;
  top: 30px;
  right: 15px;
  z-index: 9999;
  display: none;
}

@media only screen and (max-width: 980px) {
  header .humburger {
    display: block;
    top: 12px;
    background: rgba(255, 255, 255, 0.7);
    padding: 8px;
    border-radius: 5px;
  }
}

header .humburger .menu-trigger,
header .humburger .menu-trigger span {
  display: inline-block;
  transition: all .4s;
}

header .humburger .menu-trigger {
  position: relative;
  width: 30px;
  height: 26px;

}

header .humburger .menu-trigger span {
  position: absolute;
  left: 0;
  width: 100%;
  height: 3px;
  background-color: #000;
}

header .humburger .menu-trigger span:nth-of-type(1) {
  top: 0;
}

header .humburger .menu-trigger span:nth-of-type(2) {
  top: 12px;
}

header .humburger .menu-trigger span:nth-of-type(3) {
  bottom: 0;
}

header .humburger .menu-trigger.active span:nth-of-type(1) {
  -webkit-transform: translateY(12px) rotate(-45deg);
  transform: translateY(12px) rotate(-45deg);
}

header .humburger .menu-trigger.active span:nth-of-type(2) {
  opacity: 0;
}

header .humburger .menu-trigger.active span:nth-of-type(3) {
  -webkit-transform: translateY(-11px) rotate(45deg);
  transform: translateY(-11px) rotate(45deg);
}

/* -------------------------------- 

HEADER

-------------------------------- */
header {
  position: fixed;
  top: 20px;
  left: 0;
  z-index: 9;
  width: 100%;
}

@media only screen and (max-width: 980px) {
  header {
    height: 50px;
  }
}

.HEADER_INNER {
  max-width: 1200px;
  padding: 20px 0;
  margin: 0 auto;
}

@media only screen and (min-width: 1201px) {
  .HEADER_INNER {
    width: 100%;
  }
}

@media only screen and (max-width: 980px) {
  header {
    top: 0;
  }

  .HEADER_INNER {
    max-width: 100%;
    width: 100%;
  }
}

.HEADER_INNER h1 {
  margin-left: 25px;
}

@media only screen and (max-width: 980px) {
  .HEADER_INNER h1 img {
    width: 80%;
  }
}

.HEADER_INNER nav {
  width: 600px;
  padding: 10px 0px;
  background: #fff;
  border-radius: 50px;
  display: flex;
  justify-content: center;

  position: relative;
  z-index: 9;

  box-shadow: 3px 3px 15px rgba(0, 0, 0, .3);

  /*  &::before {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 98%;
    height: 85%;
    background-color: #fff;
    border-radius: 50px;
    z-index: 0;
    border: 1px dotted #FF68B4;
  }*/
}

@media only screen and (max-width: 980px) {
  .HEADER_INNER nav {
    display: none;
    transition: all .3s;
    border-radius: 0;
    z-index: 999;
  }

  .HEADER_INNER nav.active {
    display: block;
    background: rgba(255, 255, 255, 0.8);
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
  }

  .HEADER_INNER nav.active ul.MENU {
    margin-top: 20%;
    -webkit-box-orient: vertical !important;
    -webkit-box-direction: normal !important;
    -webkit-flex-direction: column !important;
    -ms-flex-direction: column !important;
    flex-direction: column !important;
  }

  .HEADER_INNER nav.active ul.MENU li {
    margin-left: 0;
    margin-bottom: 40px;
    text-align: center;
  }

  .HEADER_INNER nav.active ul.MENU li:first-child {
    text-align: center;
  }

  .HEADER_INNER nav.active ul.MENU li a {
    -webkit-box-pack: center !important;
    -webkit-justify-content: center !important;
    -ms-flex-pack: center !important;
    justify-content: center !important;
  }

  .HEADER_INNER nav.active ul.MENU li ul.DROPDOWN {
    left: 50%;
    transform: translate(-50%);
    z-index: 99;
  }

  .HEADER_INNER nav.active ul.MENU li ul.DROPDOWN li {
    margin-bottom: 0;
  }
}

.HEADER_INNER nav ul.MENU li {
  margin-left: 35px;
  position: relative;
  font-size: 14px;
}

.HEADER_INNER nav ul.MENU li:first-child {
  margin-left: 0;
}

.HEADER_INNER nav ul.MENU li img {
  margin-left: 15px;
}

.HEADER_INNER nav ul.MENU li a {
  color: #333;
  font-weight: bold;
  position: relative;

  &::before {
    content: '';
    position: absolute;
    top: 50%;
    left: -18px;
    transform: translateY(-50%);
    width: 15px;
    height: 15px;
    background: url('../media/icon_sakura.png') center center /cover no-repeat;
  }
}

.HEADER_INNER nav ul.MENU li a:hover {
  color: #D562A2;
  border-bottom: 1px solid #D562A2;
}

/* -------------------------------- 


MAIN

-------------------------------- */
main {
  overflow: hidden;
}

.slick-slide {
  height: 590px;
}

.slick-slide .SLIDE-IMG {
  width: 100%;
  height: 100vh;
  background-position: center center;
  background-size: cover;
  position: relative;
}

.slick-slide .SLIDE-IMG p {
  color: #FF69B4;
  font-size: 50px;
  font-weight: bold;
  line-height: 1.5;
  position: absolute;
  top: 50%;
  left: 5%;
  transform: translateY(-50%);
  z-index: 9;
  background: rgba(255, 255, 255, 0);
  text-shadow: 0 0 10px rgba(255, 255, 255, 0.7);
  border-radius: 10px;
  padding: 10px;
}

@media only screen and (max-width: 980px) {
  .slick-slide .SLIDE-IMG p {
    font-size: 30px;
  }
}

@media only screen and (max-width: 980px) {
  .slick-slide .SLIDE-IMG {
    height: 100vh;
  }
}

.MAINBG {
  background-size: cover;
  background-position: center center;
  height: 300px;
  position: relative;

  h2 {
    position: absolute;
    bottom: 20%;
    left: 50%;
    transform: translateX(-50%);
  }
}

@media only screen and (max-width: 980px) {
  .MAINBG {
    height: 100px;
  }
}

.MAINBG.BG_ABOUT {
  background-image: url("../media/bg1.png");
}

.MAINBG.BG_MENU {
  background-image: url("../media/bg2.png");
}

.MAINBG.BG_STAFF {
  background-image: url("../media/bg3.png");
}

.MAINBG.BG_BRIDAL {
  background-image: url("../media/bg4.png");
}

.ABOUT_INFO {
  width: 1080px;
  margin: 0 auto;
  padding: 120px 0;
}

.ABOUT_INFO .ABOUT_INFO_BOX {
  width: 50%;
  padding: 0 30px;
  margin-bottom: 50px;
}

@media only screen and (max-width: 980px) {
  .ABOUT_INFO {
    width: 100%;
    margin: 0 auto;
    padding: 60px 30px;
  }

  .ABOUT_INFO .ABOUT_INFO_BOX {
    width: 100%;
    padding: 0;
  }
}

.ABOUT_INFO .ABOUT_INFO_BOX h3 {
  color: #D562A2;
  text-align: center;
  margin-bottom: 35px;
  font-size: 20px;
  position: relative;

  &::before {
    content: '';
    position: absolute;
    bottom: -20px;
    left: 50%;
    transform: translateX(-50%);
    width: 40px;
    height: 3px;
    border-radius: 25px;
    background-color: #D562A2;
  }
}

.ADDRESS {
  margin-bottom: 50px;
  padding: 0 30px;
}

.ADDRESS img {
  margin: 0 auto;
}

.ADDRESS table {
  margin: 0 auto;
}

.ADDRESS table th {
  text-align: left;
  padding: 15px 30px 15px 0;
}

.SHOPIMAGE {
  max-width: 1080px;
  margin: 0 auto 40px;
}

.SHOPIMAGE .GAIKAN {
  width: 50%;
}

@media only screen and (max-width: 980px) {
  .SHOPIMAGE .GAIKAN {
    width: 100%;
  }
}

.MENU_TEXT {
  text-align: center;
  padding: 120px 0;
}

.MENU_GRID {
  padding: 0 30px;
  width: 1080px;
  margin: 0 auto;
}

.MENU_GRID .MENU_GRID_ITEM {
  width: 50%;
  padding: 0 30px;
  margin-bottom: 60px;
}

.MENU_GRID .MENU_GRID_ITEM small {
  font-size: 10px;
}

@media only screen and (max-width: 980px) {
  .MENU_TEXT {
    text-align: center;
    padding: 60px 20px;
  }

  .MENU_GRID {
    padding: 0 20px;
    width: 100%;
    margin: 0 auto;
  }

  .MENU_GRID .MENU_GRID_ITEM {
    width: 100%;
    padding: 0;
  }
}

.MENU_GRID .MENU_GRID_ITEM h3 {
  text-align: center;
  color: #D562A2;
  font-size: 24px;
  margin-bottom: 40px;
  position: relative;

  &::before {
    content: '';
    position: absolute;
    top: 50%;
    left: 0%;
    transform: translateY(-50%);
    width: 15px;
    height: 15px;
    background: url('../media/icon_sakura.png') center center /cover no-repeat;
  }

  &::after {
    content: '';
    position: absolute;
    top: 50%;
    right: 0%;
    transform: translateY(-50%);
    width: 15px;
    height: 15px;
    background: url('../media/icon_sakura.png') center center /cover no-repeat;
  }
}

.MENU_GRID .MENU_GRID_ITEM .MENU-CONTENT .MENU-CONTENT-LIST {
  border-bottom: 1px dotted #555555;
  margin: 20px 0;
  padding-bottom: 5px;
}

.MENU_GRID .MENU_GRID_ITEM.CEREMONY p {
  text-align: right;
  font-size: 12px;
}

.MENU_GRID .MENU_GRID_ITEM.BJ {
  margin-top: 30px;
}

@media only screen and (max-width: 980px) {
  .MENU_GRID .MENU_GRID_ITEM.BJ {
    margin-top: 0px;
  }
}

.MENU_GRID .MENU_GRID_ITEM.BJ p {
  text-align: left;
  margin: 30px 0;
}

@media only screen and (max-width: 980px) {
  .MENU_GRID .MENU_GRID_ITEM.BJ p {
    margin: 0 0 30px;
  }
}

.MENU_GRID .MENU_GRID_ITEM.BJ a {
  margin-top: 30px;
  color: #D562A2;
  border-bottom: 1px solid #D562A2;
  padding-bottom: 5px;
}

@media only screen and (max-width: 980px) {
  .MENU_GRID .MENU_GRID_ITEM.BJ a {
    font-size: 12px;
  }
}

.STAFF_TEXT {
  text-align: center;
  padding: 120px 0;
}

.STAFF_LIST a {
  display: block;
  width: 25%;
}

@media only screen and (max-width: 980px) {
  .STAFF_TEXT {
    text-align: center;
    padding: 60px 30px;
  }

  .STAFF_LIST a {
    width: 50%;
  }
}

.CLOSE {
  color: #fff;
  font-size: 60px;
  position: absolute;
  top: 0;
  right: 0;
  cursor: pointer;
}

.modal-content .modal-content-inner {
  width: 70%;
  margin: 0 auto;
  padding: 70px 0;
}

.modal-content .modal-content-inner .modal-content-img,
.modal-content .modal-content-inner .modal-content-text {
  width: 45%;
}

@media only screen and (max-width: 980px) {

  .modal-content .modal-content-inner .modal-content-img,
  .modal-content .modal-content-inner .modal-content-text {
    width: 100%;
  }
}

.modal-content .modal-content-inner .modal-content-img {
  margin-bottom: 30px;
}

.modal-content .modal-content-inner .modal-content-text {
  color: #fff;
}

.modal-content .modal-content-inner .modal-content-text h4 {
  font-size: 36px;
  margin-bottom: 50px;
}

.modal-content .modal-content-inner .modal-content-text p {
  font-size: 20px;
}

/* -------------------------------- 

FOOTER

-------------------------------- */
.FOOTER_INNER {
  max-width: 1200px;
  margin: 0 auto;
  padding: 10px 0px;
  text-align: center;
}

.FOOTER_INNER p {
  font-size: 12px;
}

#top {
  #footer {
    position: fixed;
    bottom: 0;
    left: 0;
    z-index: 99;
    width: 100%;

    .FOOTER_INNER {
      text-align: center;

      p {
        color: #333;
      }
    }
  }
}